body{
	background-image:url("chevrons-colourful-background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;

}

a.navbar-brand{
	font-family: 'Fredoka One';
	font-size: 30px;

	color:#040494;
    
    }

.shad>img{
	height:600px;
width:1349px;
}
span>img{
    width: 40px;
    height:40px;
}
nav.navbar.navbar-default.navbar-fixed-top.glass{
	background-color: rgba(255,255,255,0.8);
}
nav.navbar.navbar-default.navbar-fixed-top{
	background:rgba(0,0,0,0);
	border-color:rgba(0,0,0,0);
    color:#040494;
    
}
.shad>img.active{
	visibility:visible;
}
.shad>img.passive{
	visibility:hidden;
}
a:hover{
	color:#10A6F7;
}
form.navbar-form.navbar-right>div.form-group>input,form.navbar-form.navbar-right>button{
	border-radius: 50px;
	background:rgba(0,0,0,0);
	border:1px solid grey;

}
ul.nav.navbar-nav>li>a{
	font-family: 'Fredoka One';
	font-size: 15px;
margin-top: 5px;
	color:#040494;
    
}

/*IMAGE SLIDER*/



@keyframes slideshow{
	
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#slideshow img.top{
	animation-delay: 6s;
}

#slideshow img.mid{
	animation-delay: 4s;
}
#slideshow img.mid2{
	animation-delay: 2s;
}
#slideshow img.bottom{
	animation-delay: 0s;
}


#slideshow img{
	position:absolute;
		height:500px;
	width:1330px;
	margin-left:10px;
 box-shadow:10px 10px 5px rgba(0,0,0,0.3);
 animation-name:slideshow;
	animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration:8s;}
